body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  min-height: 100vh;
  width: 100%;
  padding: 24px;
  background-color: var(--primary-background-color, #ffffff);
  overflow-y: auto;
}

.column-card {
  cursor: pointer;
  transition: all 0.2s ease;
}

.column-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
}

